FluxoEmJsonMake.json
{
    "name": "Teste de Proficiência - AUVO",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 716162,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -415,
                    "y": -11
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "WH - WEATHER"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 10,
            "module": "util:FunctionSleep",
            "version": 1,
            "parameters": {},
            "mapper": {
                "duration": "3"
            },
            "metadata": {
                "designer": {
                    "x": -25,
                    "y": 0
                },
                "restore": {},
                "expect": [
                    {
                        "name": "duration",
                        "type": "uinteger",
                        "label": "Delay",
                        "required": true,
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "http://api.weatherapi.com/v1/forecast.json?key=0b8f5bd72987407983931212252904&q= {{1.cidade}}&days=5&lang=pt",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{2.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "google-docs:createADocumentFromTemplate",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3036136
                            },
                            "filter": {
                                "name": "Sua cidade",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.suaCidade}}",
                                            "b": "True",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "name": "Tempo em {{3.location.name}} {{3.location.region}}",
                                "select": "dropdown",
                                "document": "/1_PziXz1FcUKTjLN9Ti8vKrCeeGtJsfmRNbTslkr4d1s",
                                "folderId": "/1Njcz8tEHuc_VKr5KFL5pBZM13uIg9kkA",
                                "requests": {
                                    "pais": "{{3.location.country}}",
                                    "cidade": "{{3.location.name}}",
                                    "estado": "{{3.location.region}}",
                                    "condição": "{{3.current.condition.text}}",
                                    "atualizacao": "{{3.location.localtime}}",
                                    "temperatura": "{{3.current.temp_c}}"
                                },
                                "destination": "drive"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1150,
                                    "y": 224
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "By Dropdown"
                                        },
                                        "document": {
                                            "path": [
                                                "variaveisTempoformatada"
                                            ]
                                        },
                                        "folderId": {
                                            "mode": "chose",
                                            "path": [
                                                "testen8n"
                                            ]
                                        },
                                        "destination": {
                                            "label": "My Drive"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (vctorlopesb@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Create a Document from a Template",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "map",
                                                "dropdown"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "name",
                                        "type": "text",
                                        "label": "Title",
                                        "required": true
                                    },
                                    {
                                        "name": "destination",
                                        "type": "select",
                                        "label": "New Drive Location",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "document",
                                        "type": "file",
                                        "label": "Document ID",
                                        "required": true
                                    },
                                    {
                                        "name": "requests",
                                        "spec": [
                                            {
                                                "name": "cidade",
                                                "type": "any"
                                            },
                                            {
                                                "name": "estado",
                                                "type": "any"
                                            },
                                            {
                                                "name": "pais",
                                                "type": "any"
                                            },
                                            {
                                                "name": "temperatura",
                                                "type": "any"
                                            },
                                            {
                                                "name": "condição",
                                                "type": "any"
                                            },
                                            {
                                                "name": "atualizacao",
                                                "type": "any"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    },
                                    {
                                        "name": "folderId",
                                        "type": "folder",
                                        "label": "New Document's Location",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 6,
                            "module": "coda:updateRow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3036183
                            },
                            "mapper": {
                                "mode": "select",
                                "docId": "Sm7bjjCWKw",
                                "columns": {
                                    "c-4vAkGfEZeX": "{{3.current.temp_c}}"
                                },
                                "rowIdOrName": "{{1.`id-row-tempo`}}",
                                "tableIdOrName": "grid-4yyMhHZIgc"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1500,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select"
                                        },
                                        "docId": {
                                            "mode": "chose",
                                            "label": "Teste de Proficiência"
                                        },
                                        "rowIdOrName": {
                                            "mode": "edit"
                                        },
                                        "tableIdOrName": {
                                            "mode": "chose",
                                            "label": "Clima na sua cidade"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "coda"
                                            },
                                            "label": "My Coda connection (vctorlopesb@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:coda",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "docId",
                                        "type": "select",
                                        "label": "Doc",
                                        "required": true
                                    },
                                    {
                                        "name": "tableIdOrName",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "rowIdOrName",
                                        "type": "select",
                                        "label": "Row ID or Name",
                                        "required": true
                                    },
                                    {
                                        "name": "columns",
                                        "spec": [
                                            {
                                                "name": "c-7iokuJWS_6",
                                                "type": "text",
                                                "label": "Cidade"
                                            },
                                            {
                                                "name": "c-4vAkGfEZeX",
                                                "type": "text",
                                                "label": "Temperatura"
                                            },
                                            {
                                                "name": "c-Ioj6NZXhzq",
                                                "type": "text",
                                                "label": "Ver doc"
                                            },
                                            {
                                                "name": "c-7rofYhLsC3",
                                                "type": "text",
                                                "label": "Documentos"
                                            },
                                            {
                                                "name": "c-XRKjlqr7Tb",
                                                "type": "text",
                                                "label": "Gerar"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Columns"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "coda:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3036183
                            },
                            "mapper": {
                                "docId": "Sm7bjjCWKw",
                                "columns": {
                                    "c-90ody99ebd": "{{3.location.localtime}}",
                                    "c-Aw6ft7dB6o": "{{1.`id-row-tempo`}}",
                                    "c-E9Q4ZvaUDR": "{{3.current.temp_c}}",
                                    "c-nAeHDx_ldZ": "{{3.location.name}}",
                                    "c-wLdcdvZbk5": "{{5.webViewLink}}"
                                },
                                "tableIdOrName": "grid-crG8aCaPmk"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1800,
                                    "y": 150
                                },
                                "restore": {
                                    "expect": {
                                        "docId": {
                                            "label": "Teste de Proficiência"
                                        },
                                        "tableIdOrName": {
                                            "label": "Documentos gerados",
                                            "nested": [
                                                {
                                                    "name": "columns",
                                                    "spec": [
                                                        {
                                                            "name": "c-90ody99ebd",
                                                            "type": "text",
                                                            "label": "Data"
                                                        },
                                                        {
                                                            "name": "c-nAeHDx_ldZ",
                                                            "type": "text",
                                                            "label": "Cidade"
                                                        },
                                                        {
                                                            "name": "c-E9Q4ZvaUDR",
                                                            "type": "text",
                                                            "label": "Temperatura"
                                                        },
                                                        {
                                                            "name": "c-wLdcdvZbk5",
                                                            "type": "text",
                                                            "label": "Link"
                                                        },
                                                        {
                                                            "name": "c-Aw6ft7dB6o",
                                                            "type": "text",
                                                            "label": "Clima"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Columns"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "coda"
                                            },
                                            "label": "My Coda connection (vctorlopesb@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:coda",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "docId",
                                        "type": "select",
                                        "label": "Doc",
                                        "required": true
                                    },
                                    {
                                        "name": "tableIdOrName",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "columns",
                                        "spec": [
                                            {
                                                "name": "c-90ody99ebd",
                                                "type": "text",
                                                "label": "Data"
                                            },
                                            {
                                                "name": "c-nAeHDx_ldZ",
                                                "type": "text",
                                                "label": "Cidade"
                                            },
                                            {
                                                "name": "c-E9Q4ZvaUDR",
                                                "type": "text",
                                                "label": "Temperatura"
                                            },
                                            {
                                                "name": "c-wLdcdvZbk5",
                                                "type": "text",
                                                "label": "Link"
                                            },
                                            {
                                                "name": "c-Aw6ft7dB6o",
                                                "type": "text",
                                                "label": "Clima"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Columns"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "builtin:BasicFeeder",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "Sua cidade",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.suaCidade}}",
                                            "b": "False",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "array": "{{3.forecast.forecastday}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1220,
                                    "y": -342
                                },
                                "restore": {
                                    "expect": {
                                        "array": {
                                            "mode": "edit"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "mode": "edit",
                                        "name": "array",
                                        "spec": [],
                                        "type": "array",
                                        "label": "Array"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "coda:createARow",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3036183
                            },
                            "mapper": {
                                "docId": "Sm7bjjCWKw",
                                "columns": {
                                    "c-5r3Q_QwBvU": "{{8.day.avgtemp_c}}",
                                    "c-7Z4ZPxFbdm": "{{8.day.condition.text}}",
                                    "c-90ody99ebd": "{{8.date}}",
                                    "c-DlHKGNDWqD": "{{8.day.mintemp_c}}",
                                    "c-U-nrBdLmxS": "{{8.day.maxtemp_c}}",
                                    "c-nAeHDx_ldZ": "{{3.location.name}}"
                                },
                                "tableIdOrName": "grid--nwZWqGUp6"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1520,
                                    "y": -342
                                },
                                "restore": {
                                    "expect": {
                                        "docId": {
                                            "label": "Teste de Proficiência"
                                        },
                                        "tableIdOrName": {
                                            "label": "Informações do Clima",
                                            "nested": [
                                                {
                                                    "name": "columns",
                                                    "spec": [
                                                        {
                                                            "name": "c-90ody99ebd",
                                                            "type": "text",
                                                            "label": "Dia"
                                                        },
                                                        {
                                                            "name": "c-nAeHDx_ldZ",
                                                            "type": "text",
                                                            "label": "Cidade"
                                                        },
                                                        {
                                                            "name": "c-DlHKGNDWqD",
                                                            "type": "text",
                                                            "label": "Temperatura Minima"
                                                        },
                                                        {
                                                            "name": "c-U-nrBdLmxS",
                                                            "type": "text",
                                                            "label": "Temperatura Máxima"
                                                        },
                                                        {
                                                            "name": "c-5r3Q_QwBvU",
                                                            "type": "text",
                                                            "label": "Temperatura Média"
                                                        },
                                                        {
                                                            "name": "c-7Z4ZPxFbdm",
                                                            "type": "text",
                                                            "label": "Condição"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Columns"
                                                }
                                            ]
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "coda"
                                            },
                                            "label": "My Coda connection (vctorlopesb@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:coda",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "docId",
                                        "type": "select",
                                        "label": "Doc",
                                        "required": true
                                    },
                                    {
                                        "name": "tableIdOrName",
                                        "type": "select",
                                        "label": "Table",
                                        "required": true
                                    },
                                    {
                                        "name": "columns",
                                        "spec": [
                                            {
                                                "name": "c-90ody99ebd",
                                                "type": "text",
                                                "label": "Dia"
                                            },
                                            {
                                                "name": "c-nAeHDx_ldZ",
                                                "type": "text",
                                                "label": "Cidade"
                                            },
                                            {
                                                "name": "c-DlHKGNDWqD",
                                                "type": "text",
                                                "label": "Temperatura Minima"
                                            },
                                            {
                                                "name": "c-U-nrBdLmxS",
                                                "type": "text",
                                                "label": "Temperatura Máxima"
                                            },
                                            {
                                                "name": "c-5r3Q_QwBvU",
                                                "type": "text",
                                                "label": "Temperatura Média"
                                            },
                                            {
                                                "name": "c-7Z4ZPxFbdm",
                                                "type": "text",
                                                "label": "Condição"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Columns"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}